<aside class="aside">
  <h2 class="aside__title">Меню</h2>

  <ul class="aside__list">
    <li><a href="/index.html" class="aside__link {{#if isIndex}}aside__link--current{{/if}}">Головна</a></li>
    <li><a href="/about.html" class="aside__link {{#if isAbout}}aside__link--current{{/if}}">Про нас</a></li>
    <li><a href="/contacts.html" class="aside__link {{#if isContacts}}aside__link--current{{/if}}">Контакти</a></li>
  </ul>

  <h2 class="aside__title">Корисні посилання</h2>
  <ul class="aside__list">
    <li><a href="https://developer.mozilla.org" target="_blank" class="aside__link">MDN Docs</a></li>
    <li><a href="https://validator.w3.org" target="_blank" class="aside__link">W3C Validator</a></li>
  </ul>
</aside>